In [10]:
import pandas as pd

# Exploratory Data Analysis

## Implicit Hate

In [28]:
df_stg1 = pd.read_csv('./../../data/original_datasets/implicit_hate_v1_stg1_posts.tsv', delimiter='\t')
print(df_stg1.shape)
df_stg1.head()

(21480, 2)

                                                post          class
0    " : jewish harvard professor noel ignatiev w...  implicit_hate
1   b.higher education is a part of european cult...       not_hate
2   has a problem with  " the whites " " and " " ...       not_hate
3   is yasir qadhi a hate preacher for calling ch...       not_hate
4   rt  " : how three million germans mass murder...       not_hate

In [12]:
df_stg1.agg({'class': lambda x: x.value_counts()})

               class
not_hate       13291
implicit_hate   7100
explicit_hate   1089

In [21]:
# calculate average post length
df_stg1['length'] = df_stg1['post'].apply(len)
df_stg1.agg({'length': lambda x: x.mean()})

length    89.446555
dtype: float64

In [13]:
df_stg2 = pd.read_csv('./../../data/original_datasets/implicit_hate_v1_stg2_posts.tsv', delimiter='\t')
df_stg2.head()

,post,implicit_class,extra_implicit_class
0,""" : jewish harvard professor noel ignatiev w...",white_grievance,NaN
1,rt : tune in today's jmt for my interview w /...,irony,NaN
2,: : hate posters ? you want hate buddy ? read ...,white_grievance,NaN
3,: hunt for white women : black racist serial k...,stereotypical,NaN
4,: looks like he was a fan of the islamic jew-h...,stereotypical,NaN

In [14]:
df_stg2.agg({'implicit_class': lambda x: x.value_counts()})

                 implicit_class
white_grievance            1538
incitement                 1269
stereotypical              1133
inferiority                 863
irony                       797
threatening                 666
other                        80

In [15]:
# aggregate additional implicit classes where not NaN
df_stg2.agg({'extra_implicit_class': lambda x: x.value_counts()})

                 extra_implicit_class
inferiority                        55
white_grievance                    34
irony                              12
stereotypical                      12
incitement                         11
threatening                         6

In [16]:
df_stg3 = pd.read_csv('./../../data/original_datasets/implicit_hate_v1_stg3_posts.tsv', delimiter='\t')
df_stg3.head()

,post,target,implied_statement
0,"rt "" white privilege "" "" is when the gun jam...",minority groups,people in minority groups are all in gangs
1,if you are white in that state watch yourself !,non-white people,non-white people are dangerous
2,so the 500 % increase in h1b visas ? yeah i'm ...,Immigrants,Immigrants are undesirable
3,rt antiwhites expose their hatred of white ki...,Anti-whites,Anti-whites hate white people
4,capitalism like communism is an enemy of the...,Capitalists,Capitalists don't like white people.

In [17]:
df_stg3.agg({'target': lambda x: x.value_counts()})

                      target
Minorities               732
Immigrants               653
white people             618
Muslims                  574
Jews                     436
...                      ...
Mexican nationalists       1
Indian journalists         1
catholics & jews           1
Corporate leaders          1
white police               1

[673 rows x 1 columns]

## COVID Hate

In [31]:
covid_df = pd.read_csv('./../../data/original_datasets/covid_hate.csv')
print(covid_df.shape)
covid_df.head()

(2290, 3)

,Tweet ID,Text,label
0,1242553623260868608,Are we still allowed to quote ancient Chinese ...,0
1,1246508137638580225,@mamacat2u @VBeltiz More power to you! This C...,0
2,1233468243534372865,"CNBC: WHO, Tedros reiterated that the virus co...",0
3,1243626072387747841,"""The heightened racism experienced by Asian co...",1
4,1225611530978217989,Coronavirus and Nepali in China: KP Oli has di...,0

In [32]:
covid_df['label'] = covid_df['label'].replace({0: 'not_hate', 1: 'counterhate', 2: 'hate'})
covid_df.agg({'label': lambda x: x.value_counts()})

             label
not_hate      1344
counterhate    517
hate           429

In [34]:
# calculate average post length
covid_df['length'] = covid_df['Text'].apply(len)
covid_df.agg({'length': lambda x: x.mean()})

length    173.279476
dtype: float64

# SBF

In [22]:
# import SBF datasets SBFv2.dev.csv, SBFv2.trn.csv, SBFv2.tst.csv and concatenate them vertically
df_sbf_dev = pd.read_csv('./../../data/original_datasets/SBFv2.dev.csv')
df_sbf_trn = pd.read_csv('./../../data/original_datasets/SBFv2.trn.csv')
df_sbf_tst = pd.read_csv('./../../data/original_datasets/SBFv2.tst.csv')

In [25]:
# concatenate the datasets
df_sbf = pd.concat([df_sbf_dev, df_sbf_trn, df_sbf_tst], ignore_index=True)
print(df_sbf.shape)
df_sbf.head()

(147139, 18)

,whoTarget,intentYN,sexYN,sexReason,offensiveYN,annotatorGender,annotatorMinority,sexPhrase,speakerMinorityYN,WorkerId,HITId,annotatorPolitics,annotatorRace,annotatorAge,post,targetMinority,targetCategory,targetStereotype
0,1.0,1.0,0.0,NaN,1.0,woman,NaN,NaN,0.0,2428559182657536645,3Z8UJEJOCZ74QHXOTFP0JOOGD7039J,liberal,white,29.0,Every half-breed cop in America is trying to r...,police officers,social,rape women
1,1.0,1.0,0.0,NaN,1.0,woman,NaN,NaN,0.0,2428559182657536645,3Z8UJEJOCZ74QHXOTFP0JOOGD7039J,liberal,white,29.0,Every half-breed cop in America is trying to r...,police officers,social,NaN
2,1.0,1.0,1.0,rape,1.0,woman,women,rape white women,0.0,7162172225567546910,3Z8UJEJOCZ74QHXOTFP0JOOGD7039J,liberal,white,27.0,Every half-breed cop in America is trying to r...,mixed folks,race,mixed folks are rapists.
3,1.0,1.0,1.0,rape,1.0,woman,women,rape white women,0.0,7162172225567546910,3Z8UJEJOCZ74QHXOTFP0JOOGD7039J,liberal,white,27.0,Every half-breed cop in America is trying to r...,mixed folks,race,mixed folks like white women.
4,1.0,1.0,1.0,rape,1.0,woman,women,rape white women,0.0,7162172225567546910,3Z8UJEJOCZ74QHXOTFP0JOOGD7039J,liberal,white,27.0,Every half-breed cop in America is trying to r...,cops,social,cops can't be trusted.

In [27]:
# calculate the average length of the posts
df_sbf['length'] = df_sbf['post'].apply(len)
df_sbf.agg({'length': lambda x: x.mean()})

length    109.135715
dtype: float64